html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-middle {
    vertical-align: middle;
}

.cor-icones {
    color: black
}

.toolbar-a {
    color: #3f51b5;
}